<div class="devider-vertical visible-lg"></div>
<div class="btn-group btn-wigdet pull-right visible-lg">
    <div class="btn">
        {{ name }}
    </div>
    <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <!-- Dropdown Rop Right -->
    <ul role="menu" id="dropdown-tr" class="dropdown-menu">
        {% include '_business_filters.php' %}
    </ul>
</div>
