{% extends "main.twig" %}

{% block css %}
    <link rel="stylesheet" href="assets/css/profile.css">
{% endblock %}


{% block pagetitle %}
    Friends
{% endblock %}

{% block pagedropdown %}
    Account
{% endblock %}

{% block dropdownoptions %}
    <li>
        <a href="#">
            <span class="entypo-cog margin-iconic"></span>Personal
        </a>
    </li>
    <li>
        <a href="#">
            <span class="entypo-cog margin-iconic"></span>Business
        </a>
    </li>
{% endblock %}


{% block content %}
    <div class="content-wrap">

        <!-- PROFILE -->
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">

                            <ul class="list-group" style="background: #fff">
                                <li class="list-group-item text-left">
                                    <span class="entypo-user"></span>&nbsp;&nbsp;Daniel Prince
                                </li>
                                <li class="list-group-item text-center">
                                    <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                                         class="img-circle img-responsive img-profile">

                                </li>
                                <li class="list-group-item text-center">
                                            <span class="pull-left">
                                                <strong>Ratings</strong>
                                            </span>


                                    <div class="ratings">

                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star"></span>
                                        </a>
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>
                                        </a>

                                    </div>


                                </li>

                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Name</strong>
                                            </span>Daniel Prince
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Joined</strong>
                                            </span>2.13.2014
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Blog Posts</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>Followers</strong>
                                            </span>15
                                </li>
                                <li class="list-group-item text-center">
                                    <button class="btn btn-success ladda-button">
                                        FOLLOW
                                    </button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <button data-style="zoom-in" class="btn btn btn-primary ladda-button"
                    type="submit">
                Load More
            </button>
        </div>
        <!-- END OF PROFILE -->


        <!-- /END OF CONTENT -->


        <!-- FOOTER -->
        {% include '_footer.twig' %}
        <!-- / END OF FOOTER -->
    </div>
{% endblock %}
