{% extends "main.twig" %}

{% block css %}
    <link rel="stylesheet" href="assets/css/profile.css">
{% endblock %}


{% block pagetitle %}
    Friends
{% endblock %}


{% block content %}
    <div class="content-wrap">

        <!-- PROFILE -->
        <div class="row">
            {% include '_fetch_users.php' %}
        </div>

        <div class="row text-center">
            <button data-style="zoom-in" class="btn btn btn-primary ladda-button"
                    type="submit">
                Load More
            </button>
        </div>
        <!-- END OF PROFILE -->


        <!-- /END OF CONTENT -->


        <!-- FOOTER -->
        {% include '_footer.twig' %}
        <!-- / END OF FOOTER -->
    </div>
{% endblock %}
